body{

font-family: Arial, sans-serif;
margin:0;
padding:0;
color:white;
text-align:center;

/* космічний фон */

background: radial-gradient(circle at bottom, #0b0f2b 0%, #000000 80%);

height:100vh;

}


/* заголовок */

h1{

font-size:50px;
margin-top:40px;
color:#ffd700;
text-shadow:0 0 20px #ffd700;

}


/* контейнер */

.container{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin-top:40px;

}


/* кнопки планет */

.planet-btn{

padding:15px 35px;
border-radius:30px;
border:none;
font-size:18px;
cursor:pointer;

background:linear-gradient(45deg,#00c6ff,#0072ff);

color:white;

transition:0.3s;

box-shadow:0 0 10px rgba(0,200,255,0.6);

}

.planet-btn:hover{

transform:scale(1.1);

box-shadow:0 0 25px rgba(0,200,255,1);

}


/* кнопка 3D */

.solar-btn{

margin-top:40px;

background:linear-gradient(45deg,#ff8c00,#ff0080);

box-shadow:0 0 15px rgba(255,0,150,0.8);

}

.solar-btn:hover{

box-shadow:0 0 35px rgba(255,0,150,1);

}