<!DOCTYPE html>
<html>

<head>

<title>Login</title>

<style>

body{

background:black;
color:white;
font-family:Arial;
text-align:center;
margin-top:200px;

}

input{

padding:10px;
font-size:18px;
border-radius:10px;
border:none;

}

button{

padding:10px 20px;
font-size:18px;
border-radius:10px;
border:none;
background:#00aaff;
color:white;
cursor:pointer;

}

button:hover{

background:#0088cc;

}

</style>

</head>

<body>

<h1>Solar System Explorer</h1>

<form method="POST">

<input name="nickname" placeholder="Enter nickname" required>

<br><br>

<button type="submit">Enter</button>

</form>

</body>

</html>