<!DOCTYPE html>
<html>

<head>

<title>3D Solar System</title>

<style>

body{
margin:0;
overflow:hidden;
background:black;
}

h1{
position:absolute;
top:10px;
left:10px;
color:white;
font-family:Arial;
}

</style>

</head>

<body>

<h1>3D Solar System</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/three@0.128/examples/js/controls/OrbitControls.js"></script>

<script src="/static/solar3d.js"></script>

</body>

</html>